body { background-color: #F7ECDE;}
header {background-color: #E9DAC1;}

header>h1{

    margin: 0px;
padding: 0px;
border: 0px;
 
}

.subtext {font-size: 20px;}

h2 {
    color: #FBF8F1;
    background-color: #54BAB9;}

img {
width: 300px;
height: 300px;
float: right;
}
